@import url(https://fonts.googleapis.com/css?family=Roboto);
@font-face {
font-family: 'WorldofWater-Regular';
font-style: normal;
font-weight: normal;
src: local('WorldofWater-Regular'), url('world of water.woff') format('woff');
}
body {
  background-color: #f1f1f1
}
.topNav h1 {
  font-size: 35px !important;
  text-decoration: none;
  color: white;
  font-family: 'World of water';
}
.topNav {
  background-color: #373737;
  position: fixed;
  top: 50%;
  margin-bottom: 0 0 10px 0 !important;
}
.navMed a:hover {
  color: #373737;
}
.topNavMedium h1 {
  font-size: 35px !important;
  color: white !important;
  font-family: World of water !important;
}
.topNavMedium {
  background-color: #373737;
}
.botNav {
  font-size: 20px !important;
  text-decoration: none;
  background-color: #e9bc55 !important;
}
.uk-logo {
  font-family: "Roboto" !important;
  font-size: 25px !important;
  color: black;
}
.uk-navbar-right a {
  padding: 0.2rem;
}
.uk-navbar-dropdown img {
  filter: drop-shadow(0 0 3px #000000);
}
.logoHp {
  padding-left: 10px;
  color: white !important;

}
.uk-container h1 {
  text-align: center;
  font-family: "Roboto" !important;
  color: black;
  font-size: 2rem;
}
.uk-container h3 {
  text-align: center;
  font-family: "Roboto" !important;
  font-size: 1.6rem;
  color: black;
}
.uk-navbar-center h1 {
  font-size: 20px;
}
.uk-navbar-nav a {
  min-height: 50px !important;
}
@media (min-width: 960px){
  .kiri h1, h3 {
    position: relative;
  }
  .uk-background-contain {
    background-image: url(../image/Rect.png);
  }
  .tengahJudul h1 {
    color: white !important;
    font-size: 200%;
  }
  .gede {
    position: relative;
    top: 50px;
  }
  .textTengah h4 {
    color: white !important;
    padding: 10px;
    font-family: "Roboto";
    font-weight: 20px;
    font-size: 20px;
  }
  .textTengah {
    margin-bottom: 90px;
  }
}
@media (max-width: 960px) {
  .kiri h1, h3 {
    text-align: center;
  }
  .kiri {
    align-content: center;
  }
  .kiri img {
    position: relative;
    margin-top: -90px !important;
  }
  .tengahJudul img {
    width: 100%;
  }
  .textTengah h4 {
    color: white !important;
    padding: 10px;
    font-family: "Roboto";
    font-weight: 20px !important;
    font-size: 15px;
  }

}
.gede {
  width: 500px;
  height: 320px;
}
.kiri h1,h3 {
  font-family: "Roboto" !important;
}
.kiri h3 {
  margin: 30px;
}
.kiri h1 {
  margin: 30px;
}
.tengahJudul {
  background-color: #373737;
}
.Judul h1 {
  color: white !important;
}
.Judul1 h2 {
  font-family: "World of water";
  font-weight: 300px!important;
  color: white !important;
}
.Judul1 {
  padding: 15px;
  background-color: #373737;

}
.Judul2 {
  padding: 15px;
}

footer {
  background-color: #373737;
  margin-top: 40px;
  margin-bottom: -10px;
}
footer h4 {
  color: white;
  font-family: roboto;
}
li a:hover {
  text-decoration: none;
}
.artikel p {
  font-family: roboto;
  font-size: 18px;
}